<div align='right' class='top'>
  <button (click)='home()'><img src='../../../assets/images/home.png'/></button>
  <button (click)='logout()'><img src='../../../assets/images/logout.png'/></button>
</div>
<div align='center'>
  <div class='bg'>
  <table align='center'>
    <tr>
      <td><a routerLink='/approveuser'><img src='../../../assets/images/manaccept.png'/></a></td>
      <td style='padding-left: 50px;padding-right: 50px'><a routerLink='/addmoney'><img src='../../../assets/images/wallet2.png'/></a></td>
      <td><a routerLink='/ongoing'><img src='../../../assets/images/checklist.png'/></a></td>
    </tr>
    <tr align='center' class="font">
      <td><b>Approve User</b></td>
      <td style='padding-left: 50px;padding-right: 50px'><b>Add Money</b></td>
      <td><b>Ongoing Orders</b></td>
    </tr>
    <tr>
      
      <td style='padding-top: 50px;'><a routerLink='/managemenu'><img src='../../../assets/images/menu1.png'/></a></td>
      <td style='padding-left: 40px;padding-right: 50px;padding-top: 50px'><a routerLink='/feedbacks' ><img src='../../../assets/images/block-user.png' /></a></td>
    </tr>
    <tr align='center' class='font'>
      <td><b>Manage menu</b></td>
      <td style='padding-left: 25px;padding-right: 50px;'><b>Blocked Users</b></td>
    </tr>
  </table>
</div>
</div>
