<div class='top' align='right'>
  <button (click)='home()'><img src='../../../../assets/images/home.png'/></button>
  <button (click)='menu()'><img src='../../../../assets/images/menu.png'/></button>
  <button (click)='logout()'><img src='../../../../assets/images/logout.png'/></button>
</div>
<div align='center'>
  <div class='body'>
    <table>
      <tr>
        <td>
        <a routerLink='/additem'><img src='../../../../assets/images/addlist.png'/></a>
        </td>
        <td style="padding-left: 50px;padding-right: 50px">
            <a routerLink='/removeitem'><img src='../../../../assets/images/removelist.png'/></a>
        </td>
        <td>
            <a routerLink='/manageitem'><img src='../../../../assets/images/menu1.png'/></a>
        </td>
      </tr>
      <tr align="center">
          <td><b>Add Item</b></td>
          <td style="padding-left: 50px;padding-right: 50px"><b>Remove Item</b></td>
          <td><b>Manage Item</b></td>
      </tr>
    </table>
  </div>
</div>