<div align='center'>

<div class='topdiv'></div>
<div class="tablebg">
  <form #registerform='ngForm'>
<table class='font'>
  <tr>
    <td>
      Employee id:
    </td>
    <td>
      <input [(ngModel)]='eid' name='eid' #empid='ngModel' minlength='4' maxlength="4" pattern='[0-9]*' required/>
    </td>
    <td>
      <div *ngIf='empid.dirty'  style='color:cornsilk'>
        <div *ngIf='empid.errors?.required'>Employee ID is required</div>
        <div *ngIf='empid.errors?.minlength || empid.errors?.pattern'>Employee ID should be 4 numbers</div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Employee Name:
    </td>
    <td>
      <input [(ngModel)]='ename' name='empname' #empname='ngModel' minlength="3" maxlength="25" pattern=[a-zA-z]* required/>
    </td>
    <td>
      <div *ngIf='empname.dirty' style="color:cornsilk">
        <div *ngIf='empname.errors?.required'>Employee Name is required</div>
        <div *ngIf='empname.errors?.minlength || empname.errors?.pattern'>Employee Name must contain atleast 3 charactors </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      password:
    </td>
    <td>
      <input type='password' [(ngModel)]='pwd' name='password' #password='ngModel' minlength='6' pattern='^[a-zA-Z]+[0-9]+$' required/>
    </td>
    <td>
      <div *ngIf='password.dirty' style='color: cornsilk'>
           <div *ngIf='password.errors?.required'>password is required</div>
           <div *ngIf='password.errors?.minlength || password.errors?.pattern'>password must contain atleast 6 charactors and atleast 1 number</div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Mobile:
    </td>
    <td>
      <input type='text' [(ngModel)]='mno' name='mobno' #mobno='ngModel' minlength="10" maxlength="10" pattern='[0-9]*' required/>
    </td>
    <td>
      <div *ngIf='mobno.dirty' style='color:cornsilk'>
        <div *ngIf='mobno.errors?.required'>mobile number is required</div>
        <div *ngIf='mobno.errors?.minlength || mobno.errors?.pattern'>mobile number must be 10 numbers</div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)='check()' [disabled]='registerform.invalid'>Sign Up</button>
    </td>
    <td>
        <button (click)='reset()'>Reset</button>
      </td>
  </tr>
</table>
<p *ngIf='showmsg'>{{result}}</p>
</form>
</div>
</div>
