 .top{padding-bottom: 200px}
 .tablebg{  height:300; width:500px; background-repeat: no-repeat;background-size: cover}
 .imagepos{padding-right: 100px;} 
 .imagepos2{ padding-top: 50px } 
.fontpos{padding-right: 100px ;color: red ;size: 15;} 
.font{color: red;size: 15;}
.admfontpos{padding-top: 0px;padding-bottom: 60px; padding-left: 60px}
.cusfontpos{padding-top: 0px;padding-bottom: 60px; padding-right: 80px}