.top{ padding-bottom: 25px ;}
.bg{  height: 500px; width:600px;}
.tablefont{font-size: 20px; color:navy; text-decoration: none; }
.imageposleft{padding-top: 50px;padding-right: 100px}
.imageposright{padding-top: 50px}
.fontleft{padding-right: 100px}
